<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">{{ firstname }}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"></button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of updatedCartItems">
                        <td><img src="{{ item.image }}" alt="{{ item.productName }}" style="max-width: 100px; max-height: 100px;"></td>
                        <td>{{ item.productName }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="d-flex justify-content-center ">Total Bill: ₹{{ updatedBill }}</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Ok</button>
        </div>
    </div>
</div>
